site_name: erdantic
site_url: https://erdantic.drivendata.org/
site_description: Draw entity relationship diagrams for Pydantic models and standard library dataclasses.
repo_url: https://github.com/drivendataorg/erdantic
theme:
  name: material
  features:
    - navigation.top

nav:
  - Home: "index.md"
  - CLI Help: "cli.md"
  - Usage Examples:
      - Pydantic: "examples/pydantic.ipynb"
      - dataclasses: "examples/dataclasses.ipynb"
  - Handling Forward References: "forward-references.md"
  - Adding New Frameworks: "extending.md"
  - API Reference:
      - erdantic.base: "api-reference/base.md"
      - erdantic.dataclasses: "api-reference/dataclasses.md"
      - erdantic.erd: "api-reference/erd.md"
      - erdantic.exceptions: "api-reference/exceptions.md"
      - erdantic.pydantic: "api-reference/pydantic.md"
      - erdantic.examples:
          - erdantic.examples.pydantic: "api-reference/examples.pydantic.md"
          - erdantic.examples.dataclasses: "api-reference/examples.dataclasses.md"
  - Changelog: "changelog.md"

extra_css:
  - css/custom_mkdocstrings.css

markdown_extensions:
  - pymdownx.highlight:
  - pymdownx.superfences:
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 3
  - mdx_truly_sane_lists:

plugins:
  - search
  - mkdocs-jupyter
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          selection:
            filters: ["!^_(?!_init__)"]
            inherited_members: true
          rendering:
            show_root_heading: false
            show_root_toc_entry: true
            show_root_full_path: false
            show_if_no_docstring: true
            show_signature_annotations: true
            show_source: true
            heading_level: 2
            group_by_category: true
            show_category_heading: true
  - mike:
      alias_type: copy
      canonical_version: stable

extra:
  version:
    provider: mike

watch:
  - ../erdantic
